.color-navbar {
    background: #3FA632;
}
.color-subnavbar{
    background: #DADADA;
}
.navbar-nav{
    flex-direction: row;
}
.nav-item{
    margin-top: 2%;
    margin-left: 2%;
}
.link-nav-item{
    color: #000;
}
footer {
    background: #DADADA;
    bottom: 0;
    width: 100%;
  }
.icons-nav{
    width: 3%;
}
.link-nav-img{
    width: 3%;
}
.img-nav{
    width: 100%;
}

/*-----Carrito------*/
.pag-carrito{
    margin: 20px auto;
}

.pag-carrito th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #3FA632;
}
.carrito-table{
    width: 70%;
    border-collapse: collapse;
}
.carrito-info{
    display: flex;
    flex-wrap: wrap;
}

.pag-carrito td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

.pag-carrito td:last-child{
    text-align: right;
}

.pag-carrito a{
    color: gray;
    font-size: 14px;
}

.pag-carrito img{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}


.total-price{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    
}

.total-price table{

    border-top: 3px solid #3FA632;
    width: 100%;
    max-width: 225px;
}

.total-price td:last-child{
    text-align: right;
}

